In [ ]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
import numpy as np
import pandas as pd

def time(t):
    return pd.Timestamp("2019-01-01T12") + pd.to_timedelta(t, "d")


arrays = [
    np.array([1, 1, 2, 2, 3, 3]),
    np.array([time(0), time(1), time(396), time(365), time(31), time(365)]),
]
df = pd.DataFrame(np.random.randn(6, 1), index=arrays, columns=["var"])
df.index.names = ["id", "time"]
df

                             var
id time
1  2019-01-01 12:00:00 -0.238560
   2019-01-02 12:00:00  0.333090
2  2020-02-01 12:00:00  0.857894
   2020-01-01 12:00:00 -0.857522
3  2019-02-01 12:00:00 -0.640853
   2020-01-01 12:00:00  1.194370

In [ ]:
df.groupby(level=0).filter(lambda x: x.index.get_level_values(1).min().month_name() == 'January')

                             var
id time
1  2019-01-01 12:00:00 -0.238560
   2019-01-02 12:00:00  0.333090
2  2020-02-01 12:00:00  0.857894
   2020-01-01 12:00:00 -0.857522

In [ ]:
@pd.api.extensions.register_dataframe_accessor("pseudo")
class Pseudo:
    def __init__(self, pandas_obj):
        self._obj = pandas_obj

    def filter(self, start_month):
        return (self._obj.groupby(level=0)
                    .filter(lambda x: x.index.get_level_values(1).min()
                    .month_name() == start_month))

In [ ]:
df.pseudo.filter(start_month='January')

                             var
id time
1  2019-01-01 12:00:00 -0.238560
   2019-01-02 12:00:00  0.333090
2  2020-02-01 12:00:00  0.857894
   2020-01-01 12:00:00 -0.857522

In [ ]:
print(_)

                             var
id time
1  2019-01-01 12:00:00 -1.314898
   2019-01-02 12:00:00  0.810314
2  2020-02-01 12:00:00 -1.214327
   2020-01-01 12:00:00 -0.678823