In [ ]:
import pandas as pd
import numpy as np

np.random.seed(11)
a = np.where(np.random.rand(20) > .5, np.random.uniform(0,10, 20), np.nan)
# a = [np.nan, 2.,np.nan, 3.0,np.nan,10.0]
df = pd.DataFrame({
    'x': a
})
df['x_interp'] = df.x.interpolate()
df

      x  x_interp
0   NaN       NaN
1   2.0       2.0
2   NaN       2.5
3   3.0       3.0
4   NaN       6.5
5  10.0      10.0

In [ ]:
def interp(ser, ffill=True):
    ser = ser[df.x.notna().idxmax():].copy()
    start = ser.notna() & ser.shift(-1, fill_value=0).isna()
    end = ser.notna() & ser.shift(1, fill_value=0).isna()

    for x,y in zip(ser.index[start],ser.index[end]):
        step = (ser.loc[y] - ser.loc[x])/(y - x)
        ser.loc[x:y] = [ser.loc[x] + i * step for i in range(y-x)] + [ser.loc[y]]

    if ffill:
        ser = ser.ffill()

    return ser

df['x_new_interp'] = interp(df.x, False)
df['x_new_interp_ffill'] = interp(df.x)
df

      x  x_interp  x_new_interp  x_new_interp_ffill
0   NaN       NaN           NaN                 NaN
1   2.0       2.0           2.0                 2.0
2   NaN       2.5           2.5                 2.5
3   3.0       3.0           3.0                 3.0
4   NaN       6.5           6.5                 6.5
5  10.0      10.0          10.0                10.0